<html>
<h2> Bet You Can't Bowl A Strike Every Time</h2>
<h1> Buster's Best Bowling Alley</h1>
    <head>
        <title>Bowling alleys!!</title>
    </head>
    <body>
        <h1>Regular hours</h1>
        <p>This is where hours will go</p>
    </body>
</html>
